<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
  <h1>Transactions </h1>  
  <ul>
      <li>Time and date of last transaction <%= transaction.time %> </li>
      <li> New coins balance <%= transaction.coinsAdded %> </li>
      <li> New credits balance <%= transaction.creditsPurchased %> </li>
  </ul>
</body>
</html>